!!! 5
html
  head
    title DUMMYAPP
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    link(rel="stylesheet", href="style.css", type="text/css")
    script(src="pakmanaged.js")
  body
    #css-body-wrapper.
      Hello World!
